@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.category {
  margin: 10px;
}

.category__name{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category__name > input {
  margin-top: 20px;
  width: 90%;
  border: none;
  outline: none;
  background: none;
  text-align: center;
  user-select: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
}

.category__name > input:focus {
  border-bottom: 1px solid black;
}

.category__todolist {
  list-style: none;
  margin: 20px;
}