@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.todo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 20px 0;
}

.todo__text {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background: linear-gradient(to bottom right, rgb(226, 226, 226), rgb(208, 208, 208));
  width: 80%;
  height: 45px;
  padding-top: 20px;
  padding-left: 20px;
  user-select: none;
}

.todo__deleteBtn {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  outline: none;
  border: none;
  border-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(243, 59, 59);
  width: 20%;
  height: 63px;
  cursor: pointer;
  user-select: none;
  padding-right: 3px;
}

.todo__deleteBtn:hover {
  background: rgb(216, 53, 53);
}